{:devices {:macbook [{:vendor_id 1452 :product_id 834},
                     {:vendor_id 1452 :product_id 834}]}
 
 :applications {:slack ["com.tinyspeck.slackmacgap"]
                :vscode ["com.microsoft.VSCode"]
                :notion ["notion.id"]
                :spotify ["com.spotify.client"]
                :intellij ["com.google.android.studio", "^com\\.jetbrains\\..*$"]
                :firefox ["org.mozilla.firefox"]
                :chrome ["com.google.Chrome"]
                :mail ["com.apple.mail"]}

 :simlayers {
             :num-mode {:key :right_command}
             }

 :main {
        {:des "num-mode"
         :rules [:num-mode
                 [:q :1]
                 ]
         }
        }
 }
